//Helper 
@import "assist/utilities";

//BASE
@import "base/base";
@import "base/typography";

//Components
@import "components/buttons";

//Layout
@import "layouts/footer";
@import "layouts/form";
@import "layouts/navigation";
@import "layouts/mainmenu";

@media screen and (max-width: 1200px) {
    .showcase {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;

       &__img{
           width: 50%;
           display: block;
           margin-bottom: 1.5rem;
       }

       &__content{
           font-size: 1.5rem;

           .tittle{
               font-size: 2rem;
           }
       }

       .name {
           font-size: 2rem;
       }

       

    }

    .about__heading{
        font-size: 2.5rem;
    }

    .about__text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1000px){
    
    .main {
        background-size: cover;
        
        &__heading{
            font-size: 2rem;
        }

        &__sub{
            font-size: 1.5rem;
        }
    }

    .flex{
        max-width: 100%;
    }

    .contact {
        overflow-x: hidden;
        padding-top: 1rem;

        &__form {
            max-width: 40rem;
        }

        &__form-btn{
            
        }
    }
}

@media screen and (max-width: 800px){
    .main {
        background-size: cover;
        
        &__heading{
            font-size: 1.5rem;
        }

        &__sub{
            font-size: 1rem;
        }
    }

    .contact {

    }

}


