.footer {
    background-color: #222;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;

    &__container {
        color: $white;
        height: 15rem;
    }

    &__text{
     color: $white;
     font-size: 1.3rem;
     padding: 2rem;
    }

    i{
        color: #333;

        &:hover{
            color: $white;
        }
    }

    &__icons{
        color: #fff;
        padding-left: 2rem;
        margin-bottom: -1rem;
    }

}