.nav {
    background-color: #222;
    height: 5rem;
    width: 100%;
    position: sticky;
    top: 0;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 5px solid $color-primary;
    }

    &__text {
        color: $color-primary;
        font-size: 4rem;
    }

    &__link {
        text-decoration: none;
        font-size: 1.8rem;
        color: $font-primary;
        padding: 1rem 2rem;

        &:hover{
            color: $white;
        }
    }

    
}